body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Titillium Web', sans-serif;
}

footer {
    margin: 50px 0;
    font-family: 'Titillium Web', sans-serif;
}


.addPostsDiv textarea, input{
    width: 100%;
}

.addPostsDiv div {
    margin-top: 20px;
}

#addPost {
    width: 100%;
}

.well textarea {
    width: 100%;
}

#posts {
    text-align: left;
}

#posts h2 {
    text-align: left;
}