
<label>Search posts by tags:</label>
<select id="search-tag">
    {{#tags}}
    <option value="{{name}}">{{name}}</option>
    {{/tags}}
</select>
<button id="search-by-tags-button">Search</button>
<div id="allPostsDiv">
    {{#posts}}
    <!-- First Blog Post -->
    <div id="post">
        <h2>
            <a href="#posts/{{postId}}">{{title}}</a>
        </h2>
        <p class="lead">
            by <a href="index.php">{{author}}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {POSTEDON DOESNT LOAD SHIT} {{postedOn}}</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>{{description}}</p>
        <a class="btn btn-primary" href="#posts/{{postId}}">Read More <span
                class="glyphicon glyphicon-chevron-right"></span></a>

        <!--TODO fix tag name displaying-->
        {{#tags}}
        <h5>{{name}}</h5>
        {{/tags}}
    </div>
    <hr>
    {{/posts}}
</div>

