<div id="wrap">
    <div id="regbar">
        <div id="navthing">
            <h2><a href="#" id="loginform">Profile</a> | <a href="#" id="registerform">Home</a></h2>
            <div class="login">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="username">Username</label>
                            <input type="text"/>
                            <label name="password">Password</label>
                            <input type="password"/>
                            <input type="submit" value="Login" />

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="signup">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="username">Username</label>
                            <input type="text" />
                            <label name="password">Password</label>
                            <input type="password" />
                            <label name="password-confirm">Confirm Password</label>
                            <input type="password" />
                            <label name="email">Email</label>
                            <input type="email"/>
                            <label name="name">Full Name</label>
                            <input type="text"/>
                            <input type="submit" value="Register" />

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="scripts/login/toggleLogin.js"></script>