<div id="wrap">
    <div id="regbar">
        <div id="navthing">
            <h2 id="margin-zero">
                <a href="#/user/options" id="user-options-btn">Profile</a>
                | <a href="#/" id="home-btn">Home</a>
                | <a href="#/posts/add" id="add-popst">Add post</a>
                | <a href="#/posts/all">All posts</a>
            </h2>

            <div class="user-options">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <button id="user-control-edit-profile">Edit Profile</button>
                            <button id="user-control-logout">Log out</button>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="scripts/userOptions/toggleUserOptions.js"></script>