<!-- Blog Search Well -->
<div class="box">
    <h4>Tag Search</h4>
    <div class="input-group">
        <input id="search-tag" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button id="search-by-tags-button" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
    </div>
    <!-- /.input-group -->
</div>

<div class="box">
    <h4>Latest posts</h4>
    <ul>
        {{#lastPosts}}
        <li><a href="#/posts/{{_id}}">{{title}}</a></li>
        {{/lastPosts}}
    </ul>
</div>

<div class="box">
    <h4>Tags</h4>
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li><a href="#">Tag Name</a>
                </li>
                <li><a href="#">Tag Name</a>
                </li>
                <li><a href="#">Tag Name</a>
                </li>
                <li><a href="#">Tag Name</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
</div>

<!-- Side Widget Well -->
<div class="box">
    <h4>Archive</h4>
    <ul>
        <li><a href="#">November 2015</a>&nbsp;(1)</li>
        <li><a href="#">July 2015</a>&nbsp;(1)</li>
        <li><a href="#">March 2015</a>&nbsp;(1)</li>
        <li><a href="#">December 2014</a>&nbsp;(1)</li>
        <li><a href="#">November 2014</a>&nbsp;(1)</li>
        <li><a href="#">August 2014</a>&nbsp;(1)</li>
        <li><a href="#">April 2014</a>&nbsp;(1)</li>
        <li><a href="#">September 2013</a>&nbsp;(1)</li>
        <li><a href="#">July 2013</a>&nbsp;(1)</li>
        <li><a href="#">June 2013</a>&nbsp;(1)</li>
        <li><a href="#">March 2013</a>&nbsp;(1)</li>
        <li><a href="#">February 2013</a>&nbsp;(1)</li>
        <li><a href="#">January 2013</a>&nbsp;(2)</li>
        <li><a href="#">December 2012</a>&nbsp;(1)</li>
        <li><a href="#">November 2012</a>&nbsp;(1)</li>
        <li><a href="#">October 2012</a>&nbsp;(1)</li>
        <li><a href="#">September 2012</a>&nbsp;(2)</li>
        <li><a href="#">August 2012</a>&nbsp;(2)</li>
        <li><a href="#">July 2012</a>&nbsp;(3)</li>
        <li><a href="#">June 2012</a>&nbsp;(4)</li>
        <li><a href="#">May 2012</a>&nbsp;(2)</li>
        <li><a href="#">April 2012</a>&nbsp;(5)</li>
        <li><a href="#">March 2012</a>&nbsp;(5)</li>
    </ul>
</div>


